body{
    background-color: aqua;
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}

.container,
.result-area,
.question-area{
    width: 800px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    text-align: center;
}

.container{
    max-width: 90%;
    padding: 20px;
}

.result-area,
.question-area {
    max-width: 100%;
    font-size: 1.5rem;
}

.result-area{
    background-color: #49bbd0;
    padding: 0.1px;
    display: none;
}

.question-area{
    padding: 10px;
}

.btn-sub{
    margin-top: 20px;
}

.btn-res{
    margin-top: 20px;
    display: none;
}

.ticks{
    display: none;
}

.crosses{
    display: none;
}

.answer-lines{
    display: none;
}